<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <%- include('../../partials/adm/header.ejs') %>
    <main>
        <section class="servicos-lista">
            <div class="container">
                <h1>Pets</h1>
                <a href="/adm/pets/cadastro" class="btn btn-primary mb-5">Cadastrar Pet</a>
                <table class="table table-dark table-striped table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">Identificador</th>
                            <th scope="col">Imagem</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Especie</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let pet of pets) { %>
                            <tr>
                                <th scope="row"><%= pet.id %></th>
                                <td><img class="thumb"
                                        src="<%= pet.imagem %>"
                                        alt="Imagem" width="100px" height="100px"></td>
                                <td><%= pet.nome %></td>
                                <td><%= pet.especie %></td>
                                <td>
                                    <a href="/adm/pets/<%= pet.id %>" type="button" class="btn btn-primary">Abrir</a>
                                    <a href="/adm/pets/<%= pet.id %>/editar" type="button" class="btn btn-secondary">Editar</a>
                                    <form action="/adm/pets/<%= pet.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-danger">Excluir</button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>


            </div>
        </section>
    </main>

    <%- include('../../partials/footer') %>
</body>

</html>